@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Simplificando a gestão escolar: conectando professores, alunos e desempenho acadêmico em um só lugar..</p>
</div>
